@model IEnumerable<DoAn.Models.Provider>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string userRole = Context.Session.GetString("Role");
    bool isAdmin = userRole == "1";
}

<div class="wrapper-box" style="padding:7rem">
    <div class="toolBar-control">
        <button class="btn-create" onclick="window.location.href='/Admin/Provider/Create'">
            Create new
        </button>

        <div class="wrap-search">
            <form method="get" action="/Admin/Provider/SearchResult" class="search-staff" onsubmit="return validateSearch()">
                <div class="box-search">
                    <input type="text" name="keyword" id="searchInput" placeholder="Search Producttype ...">
                    <button type="submit" class="btnSearch-staff" id="searchButton">Search</button>
                </div>
            </form>
        </div>

        <div></div>
    </div>
    <div class="table-infoStaff">
        <table class="table-List">
            <tr class="title-infoList">
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    <input type="checkbox" id="selectAll" />
                </th>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Email
                </th>
                <th>Action</th>
                <button id="deleteSelected" class="btn btn-danger">Delete Selected</button>

            </tr>

            <tbody class="box-tbody">
                @foreach (var item in Model)
                {
                    <tr class="item-infoList">
                        <td class="align-middle text-center">
                            <input type="checkbox" class="productCheckbox" data-product-id="@item.ProviderId" />
                        </td>
                        <td>
                            @item.ProviderId
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Address
                        </td>
                        <td>
                            @item.Phone
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            <a onclick="navigateTo('Edit', @item.ProviderId)" role="button" class="text-secondary btn font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                Edit
                            </a>
                            
                            @if (isAdmin)
                            {
                                <a onclick="deleteStaff(@item.ProviderId)" role="button" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                    <i class="btn-outline-primary btn fa-solid fa-x"></i>
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/assets/js/CRUD/CRUD_Provider.js" />

