@model IEnumerable<DoAn.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quanlity</th>
            <th>Image</th>
            <th>product Type</th>
            <th>Provider</th>
            <th>Create At</th>
            <th>Update At</th>
            <th>Create By</th>
            <th>Update By</th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.ProductId</td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                <img width="20px" src="@item.Image" />
            </td>
            <td>
                @item.ProductType.Name
            </td>
            <td>
                @item.Provider.Name
            </td>
            <td>@item.CreatedAt</td>
            <td>@item.UpdatedAt</td>
            <td>@item.CreatedBy</td>
            <td>@item.UpdatedBy</td>
            <td>
                <a href="@Url.Action("Edit", "Product", new { productId = @item.ProductId})">Edit</a>|
                <a href="@Url.Action("Detail", "Product", new { productId = @item.ProductId})">Detail</a>|
                <a href="@Url.Action("Delete", "Product", new { productId = @item.ProductId})">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
