@model IEnumerable<DoAn.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper-box" style="padding:7rem">
    <div class="toolBar-control">
        <button class="btn-create" onclick="window.location.href='/Admin/Product/Create'">
            Create new
        </button>

        <div class="wrap-search">
            <form method="get" action="/Admin/Product/SearchResult" class="search-staff" onsubmit="return validateSearch()">
                <div class="box-search">
                    <input type="text" name="keyword" id="searchInput" placeholder="Search Product ...">
                    <button type="submit" class="btnSearch-staff" id="searchButton">Search</button>
                </div>
            </form>
        </div>

        <div></div>
    </div>
   

    <div class="table-infoStaff">
        <table class="table-List">
            <tr class="title-infoList">
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    <input type="checkbox" id="selectAll" />
                </th>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quanlity</th>
                <th>Image</th>
                <th>product Type</th>
                <th>Sold</th>
                <th>Provider</th>
                <th>Create At</th>
                <th>Update At</th>
                <th>Create By</th>
                <th>Update By</th>
                <th>Action</th>
                <button id="deleteSelected" class="btn btn-danger">Delete Selected</button>

            </tr>
            <tbody class="box-tbody">
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr class="item-infoList">
                            <td class="align-middle text-center">
                                <input type="checkbox" class="productCheckbox" data-product-id="@item.ProductId" />
                            </td>
                            <td>@item.ProductId</td>
                            <td style="    text-align: center;width: 20%;">
                                @item.Name
                            </td>
                            <td style="width: 20%; text-align: justify;">
                                @item.Description
                            </td>
                            <td>
                                @item.Price
                            </td>
                            <td>    
                                @item.Quantity
                            </td>
                            <td>

                                <img width="20px" style="object-fit: scale-down" src="@item.Image" />
                            </td>
                            <td>
                                @item.ProductType?.Name
                            </td>
                            <td>
                                @item.Sold
                            </td>
                            <td>
                                @item.Provider?.Name
                            </td>
                            <td>@item.CreatedAt?.ToString("dd/MM/yyyy HH:mm tt")</td>
                            <td>@item.UpdatedAt?.ToString("dd/MM/yyyy HH:mm tt")</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.UpdatedBy</td>
                            <td>
                                <div class="button-container">
                                    <a onclick="navigateTo('Edit', @item.ProductId)" role="button" class="text-secondary btn font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                        Edit
                                    </a>
                                    <a onclick="deleteStaff(@item.ProductId)" role="button" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                        <i class="btn-outline-primary btn fa-solid fa-x"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr style="text-align:center">
                        <td colspan="14" style="color:Red">No products found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .button-container {
        display: flex;
    }

    .btn-edit,
    .btn-detail,
    .btn-delete {
        margin-right: 5px;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
    }

    .table-List {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
    }

    .title-infoList th,
    .item-infoList td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .title-infoList th {
        background-color: #008678;
        color: #fff;
    }

    .item-infoList td {
        background-color: #fff;
    }
</style>
<script src="~/assets/js/CRUD/CRUD.js" />
