 @model IEnumerable<DoAn.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="wrapper-box" style="padding:7rem">
    <div class="toolBar-control">
        <button class="btn-create" onclick="window.location.href='/Admin/Role/Create'">
            Create new
        </button>
        <div class="wrap-search">
            <div class="search-staff">
                <div class="box-search">
                    <input type="text" value="" name="" id="" placeholder="Search Role ... ">
                    <button class="btnSearch-staff">Search</button>
                </div>
            </div>
        </div>
        <div></div>
    </div>
    <div class="table-infoStaff">
        <table class="table-List">
            <tr class="title-infoList">
                <th>Role ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            <tbody class="box-tbody">
                @foreach (var item in Model)
                {
                    <tr class="item-infoList">
                        <td>@item.RoleId</td>
                        <td>@item.Name</td>
                        <td>
                            <button class="btn-edit" onclick="navigateTo('Edit', @item.RoleId)">
                                Edit
                            </button>
                            <button class="btn-detail" onclick="navigateTo('Detail', @item.RoleId)">
                                Detail
                            </button>
                            <button class="btn-delete" onclick="deleteStaff(@item.RoleId)">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function navigateTo(action, RoleId) {
        window.location.href = `/Admin/Role/${action}?RoleId=${RoleId}`;
    }

    function deleteStaff(RoleId) {
        if (confirm('Are you sure you want to delete this Role?')) {
            navigateTo('Delete', RoleId);
        }
    }
</script>