@model IEnumerable<DoAn.Models.Booking>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper-box" style="padding:7rem">
    <div class="toolBar-control">

    </div>
    <div class="table-infoStaff">
        <h1 style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Customer Booking</h1>
        <table class="table-List">
            <tr class="title-infoList">
                <th>Booking ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Date time</th>
                <th>Note</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Branch</th>
                <th>Combo</th>
                <th>Staff</th>
                <th>Action</th>
            </tr>

            <tbody class="box-tbody">
                @foreach (var item in Model)
                {
                    @if(item.Status == true)
                    {
                        
                        <tr class="item-infoList">
                            <td>@item.BookingId</td>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>@item.DateTime</td>
                            <td>@item.Note</td>
                            <td>
                                <p style="color: red">Watting...</p>
                            </td>
                            <td>@item.CreatedAt</td>
                            <td>@item.Branch?.Address</td>
                            <td>@item.Combo?.Name</td>
                            <td>@item.Staff?.Name</td>
                            <td>
                                <button class="btn-delete" onclick="deleteBooking(@item.BookingId)">Confirm</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div style="margin-top:2rem" class="table-infoStaff">
        <h1 style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Customer Already Cut</h1>
        <table class="table-List">
            <tr class="title-infoList">
                <th>Booking ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Date time</th>
                <th>Note</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Branch</th>
                <th>Combo</th>
                <th>Staff</th>
            </tr>

            <tbody class="box-tbody">
                @foreach (var item in Model)
                {
                    @if (item.Status == false)
                    {
                        <tr class="item-infoList">
                            <td>@item.BookingId</td>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>@item.DateTime</td>
                            <td>@item.Note</td>
                            <td>
                                <p style="color: green">Done</p>
                            </td>
                            <td>@item.CreatedAt</td>
                            <td>@item.Branch?.Address</td>
                            <td>@item.Combo?.Name</td>
                            <td>@item.Staff?.Name</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<script>

    function navigateTo(action, bookingId) {
        window.location.href = `/Admin/BookingFromClient/${action}?BookingId=${bookingId}`;
    }

    function deleteBooking(bookingId) {
        if (confirm('Are you sure you want to delete this booking?')) {
            var url = `/Admin/BookingFromClient/Update?bookingId=${bookingId}`;

            window.location.href = url;
        }
    }
</script>

<style>
    .button-38 {
        background-color: #FFFFFF;
        border: 0;
        border-radius: .5rem;
        box-sizing: border-box;
        color: #111827;
        font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.25rem;
        padding: .8rem 1rem;
        border-radius: 8px;
        text-align: center;
        text-decoration: none #D1D5DB solid;
        text-decoration-thickness: auto;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

        .button-38:hover {
            background-color: rgb(249,250,251);
        }

        .button-38:focus {
            outline: 2px solid transparent;
            outline-offset: 2px;
        }

        .button-38:focus-visible {
            box-shadow: none;
        }
</style>
