@model IEnumerable<DoAn.Models.Branch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="wrapper-box" style="padding:7rem">
    <div class="toolBar-control">
        <button class="btn-create" onclick="window.location.href='/Admin/Branch/Create'">
            Create new
        </button>

        <div class="wrap-search">
            <div class="search-staff">
                <div class="box-search">
                    <input type="text" value="" name="" id="" placeholder="Tìm kiếm chi nhanh ... ">
                    <button class="btnSearch-staff"> Tìm kiếm</button>
                </div>
            </div>
        </div>

        <div></div>
    </div>
    <div class="table-infoStaff">
        <table class="table-List">
            <tr class="title-infoList">
                <th>Branch ID</th>
                <th>Address</th>
                <th>Hotline</th>
                <th>Action</th>
            </tr>
            <tbody class="box-tbody">
                @foreach (var item in Model)
                {
                    <tr class="item-infoList">
                        <td>@item.BranchId</td>
                        <td>@item.Address</td>
                        <td>@item.Hotline</td>
                        <td>
                            <button class="btn-edit" onclick="navigateTo('Edit', @item.BranchId)">
                                Edit
                            </button>
                            <button class="btn-detail" onclick="navigateTo('Detail', @item.BranchId)">
                                Detail
                            </button>
                            <button class="btn-delete" onclick="deleteStaff(@item.BranchId)">
                                Delete
                            </button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function navigateTo(action, BranchId) {
        window.location.href = `/Admin/Branch/${action}?BranchId=${BranchId}`;
    }

    function deleteStaff(BranchId) {
        if (confirm('Are you sure you want to delete this branch?')) {
            navigateTo('Delete', BranchId);
        }
    }
</script>

