@model IEnumerable<DoAn.Models.Branch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BranchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotline)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BranchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotline)
            </td>
              
            <td>
                <a href="@Url.Action("Edit", "Branch", new { branchId = @item.BranchId})">Edit</a>|
                <a href="@Url.Action("Detail", "Branch", new { branchId = @item.BranchId})">Details</a>|
                <a href="@Url.Action("Delete", "Branch", new { branchId = @item.BranchId})">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
