@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@{
    string userRole = Context.Session.GetString("Role");
    bool isAdmin = userRole == "1";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<div class="upload-section">
    <div id="sidebar-container">
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu"></span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Home")">
                        <i class="fa-solid fa-house"></i>
                        <span class="hide-menu">Home</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Function</span>
                </li>
                @if (Context.Session.GetString("Role") == "1")
                {
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Index", "Staff")">
                            <i class="fa-solid fa-user"></i>
                            <span class="hide-menu">Staff</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Index", "Role")">
                            <i class="fa-regular fa-address-book"></i>
                            <span class="hide-menu">Role</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Index", "Schedule")">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span class="hide-menu">Schedule</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Index", "BookingFromClient")">
                            <i class="fa-regular fa-address-book"></i>
                            <span class="hide-menu">BookingFromClient</span>
                        </a>
                    </li>
                }
                @if (Context.Session.GetString("Role") == "2")
                {
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Index", "BookingFromClient")">
                            <i class="fa-regular fa-address-book"></i>
                            <span class="hide-menu">BookingFromClient</span>
                        </a>
                    </li>

                }
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Blog")">
                        <i class="fa-regular fa-address-book"></i>
                        <span class="hide-menu">Blog</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "ScheduleDetail")">
                        <i class="fa-regular fa-clock"></i>
                        <span class="hide-menu">ScheduleDetail</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("GetSale", "GetSalesSummaryByMonth")">
                        <i class="fa-solid fa-chart-simple"></i>
                        <span class="hide-menu">statistical</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Service")">
                        <i class="fa-regular fa-clock"></i>
                        <span class="hide-menu">Service</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "ServiceType")">
                        <i class="fa-regular fa-clock"></i>
                        <span class="hide-menu">ServiceType</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Provider")">
                        <i class="fa-solid fa-person"></i>
                        <span class="hide-menu">Provider</span>
                    </a>
                </li>
                </>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Branch")">
                        <i class="fa-solid fa-code-branch"></i>
                        <span class="hide-menu">Branch</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Combo")">
                        <span>
                            <i class="fa-solid fa-c"></i>
                        </span>
                        <span class="hide-menu">Combo</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Product")">
                        <span>
                            <i class="fa-brands fa-product-hunt"></i>
                        </span>
                        <span class="hide-menu">Product</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "BlogCategory")">
                        <span>
                            <i class="fa-brands fa-product-hunt"></i>
                        </span>
                        <span class="hide-menu">BlogCategory</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "ProductType")">
                        <span>
                            <i class="fa-solid fa-t"></i>
                        </span>
                        <span class="hide-menu">Product Type</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    @if (Context.Session.GetString("Role") == null)
                    {
                        <span class="hide-menu">LogIn</span>
                    }
                    else
                    {
                        <span class="hide-menu">LogOut</span>
                    }
                </li>
                <li class="sidebar-item">
                    @if (Context.Session.GetString("Role") == null)
                    {
                        <a class="sidebar-link" href="@Url.Action("Login", "Staff", new { area = "Admin" })">
                            <span>
                                <i class="ti ti-login"></i>
                            </span>
                            LogIn
                        </a>
                    }
                    else
                    {
                        <a class="sidebar-link" href="@Url.Action("Logout", "Staff", new { area = "Admin" })">
                            <span>
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </span>
                            LogOut
                        </a>
                    }
                </li>
            </ul>
        </nav>
    </div>
</div>
