@using Microsoft.AspNetCore.Http

<div class="upload-section">
    <div id="sidebar-container">
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Home</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="" aria-expanded="false">
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">UI COMPONENTS</span>
                </li>
                <li class="sidebar-item" id="staffMenuItem">
                    <a class="sidebar-link" href="@Url.Action("Index", "Staff")">
                        <i class="ti ti-bolt"></i>
                        <span class="hide-menu">Staff</span>
                    </a>
                </li>

             @*   @if (TempData["UserRole"] != null && (int)TempData["UserRole"] != 2)
                {
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Index", "Staff")">
                            <i class="ti ti-bolt"></i>
                            <span class="hide-menu">Staff</span>
                        </a>
                    </li>
                }*@
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Provider")">
                        <i class="ti ti-cards"></i>
                        <span class="hide-menu">Provider</span>
                    </a>
                </li>
                </>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Branch")">
                        <i class="ti ti-file-description"></i>
                        <span class="hide-menu">Branch</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="./ui-typography.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-typography"></i>
                        </span>
                        <span class="hide-menu">Typography</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">AUTH</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-login"></i>
                        </span>
                        <span class="hide-menu">Login</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-user-plus"></i>
                        </span>
                        <span class="hide-menu">Register</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">EXTRA</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="./icon-tabler.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-mood-happy"></i>
                        </span>
                        <span class="hide-menu">Icons</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-aperture"></i>
                        </span>
                        <span class="hide-menu">Sample Page</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Sidebar navigation-->
   
</div>
<script>
    // JavaScript code to hide/show the "Staff" menu item based on user role
    //document.addEventListener("DOMContentLoaded", function () {
    //    var userRole = @((int)(TempData["UserRole"] ?? 0));
    //    console.log("User Role:", userRole);
    //    var staffMenuItem = document.getElementById("staffMenuItem");

    //    if (staffMenuItem && userRole === 2) {
    //        staffMenuItem.style.display = "none";
    //    } else {
    //        staffMenuItem.style.display = "block"; // Show the menu item for other roles
    //    }
    //});
    function updateStaffMenuItemVisibility() {
        var userRole = @((int)(TempData["UserRole"] ?? 0));
        console.log("User Role:", userRole);
        var staffMenuItem = document.getElementById("staffMenuItem");

        if (staffMenuItem) {
            if (userRole === 2) {
                staffMenuItem.style.display = "none";
            } else {
                staffMenuItem.style.display = "block"; // Show the menu item for other roles
            }
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        updateStaffMenuItemVisibility();
    });

    document.addEventListener("userRoleChanged", function () {
        updateStaffMenuItemVisibility();
    });
</script>
