    @using Microsoft.AspNetCore.Http
@{
    string userRole = Context.Session.GetString("Role");
    bool isAdmin = userRole == "1";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

<div class="upload-section">
    <div id="sidebar-container">
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Home</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="" aria-expanded="false">
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">UI COMPONENTS</span>
                </li>
                
                    @if (Context.Session.GetString("Role") == "1")
                    {
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Index", "Staff")">
                                <i class="ti ti-bolt"></i>
                                <span class="hide-menu">Staff</span>
                            </a>
                        </li>
                    }
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Provider")">
                        <i class="ti ti-cards"></i>
                        <span class="hide-menu">Provider</span>
                    </a>
                </li>
                </>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Branch")">
                        <i class="ti ti-file-description"></i>
                        <span class="hide-menu">Branch</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Combo")">
                        <span>
                            <i class="ti ti-typography"></i>
                        </span>
                        <span class="hide-menu">Combo</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "Product")">
                        <span>
                            <i class="ti ti-typography"></i>
                        </span>
                        <span class="hide-menu">Product</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">AUTH</span>
                </li>
                <li class="sidebar-item">
                    @if (Context.Session.GetString("Role") == null)
                    {
                        <a class="sidebar-link" href="@Url.Action("Login", "Staff", new { area = "Admin" })">
                            <span>
                                <i class="ti ti-login"></i>
                            </span>
                            LogIn
                        </a>
                    } else
                    {
                        <a class="sidebar-link" href="@Url.Action("Logout", "Staff", new { area = "Admin" })">
                            <span>
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </span>
                            LogOut
                        </a>
                        
                    }
                </li>

               
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">EXTRA</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="./icon-tabler.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-mood-happy"></i>
                        </span>
                        <span class="hide-menu">Icons</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-aperture"></i>
                        </span>
                        <span class="hide-menu">Sample Page</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Sidebar navigation-->

</div>
