@model DoAn.Models.Cilent

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CilentId)

    <div class="form-group">
        <label for="Name">Name:</label>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label for="Username">Username:</label>
        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label for="Password">Password:</label>
        @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" }})
    </div>

    <div class="form-group">
        Phone:
        <input type="tel" id="Phone" name="Phone" value="@Model.Phone" class="form-control" />
    </div>

    //Xử lí không cho người dùng nhập chữ vào số đt
    @section scripts {
        <script>
            $(document).ready(function () {
                $('#Phone').on('input', function () {
                    var phoneValue = $(this).val();
                    var numericValue = phoneValue.replace(/[^0-9]/g, ''); 
                    $(this).val(numericValue);
                });
            });
        </script>
    }

    <div class="form-group">
        <label for="Avatar">Avatar:</label>
        @Html.TextBoxFor(model => model.Avatar, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="Address">Address:</label>
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="Email">Email:</label>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="Status">Status:</label>
        @Html.TextBoxFor(model => model.Status, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="CreatedAt">Created At:</label>
        @Html.TextBoxFor(model => model.CreatedAt, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="UpdatedAt">Updated At:</label>
        @Html.TextBoxFor(model => model.UpdatedAt, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="CreatedBy">Created By:</label>
        @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="UpdatedBy">Updated By:</label>
        @Html.TextBoxFor(model => model.UpdatedBy, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="Role">Role:</label>
        @Html.TextBoxFor(model => model.Role.RoleId, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a href="@Url.Action("Index", "Client")" class="btn btn-secondary">Cancel</a>
}