@model IEnumerable<DoAn.Models.Combo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper-box" style="padding:7rem">
    <div class="toolBar-control">
        <button class="btn-create" onclick="window.location.href='/Admin/Combo/Create'">
            Create new
        </button>
        <div class="wrap-search">
            <form method="get" action="/Admin/Combo/SearchResult" class="search-staff" onsubmit="return validateSearch()">
                <div class="box-search">
                    <input type="text" name="keyword" id="searchInput" placeholder="Search Combo ...">
                    <button type="submit" class="btnSearch-staff" id="searchButton">Search</button>
                </div>
            </form>
        </div>
        <div></div>
    </div>
    <div class="table-infoStaff">
        <table class="table-List">
            <tr class="title-infoList">
                <th>Combo ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Created At</th>
                <th>Create By</th>
                <th>Updated At</th>
                <th>Updated By</th>
                <th>Action</th>
            </tr>
            <tbody class="box-tbody">
               @foreach (var item in Model)
                {
                    <tr class="item-infoList">
                        <td>@item.ComboId</td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.CreatedAt</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.UpdatedAt</td>
                        <td>@item.UpdatedBy</td>
                        <td>
                            <button class="btn-edit" onclick="navigateTo('Edit', @item.ComboId)">
                                Edit
                            </button>
                            <button class="btn-detail" onclick="navigateTo('Detail', @item.ComboId)">
                                Detail
                            </button>
                            <button class="btn-delete" onclick="deleteStaff(@item.ComboId)">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    const searchInput = document.getElementById("searchInput");
    const searchButton = document.getElementById("searchButton");

    searchInput.addEventListener("input", function () {
        if (searchInput.value.trim() === "") {
            searchButton.disabled = true;
        } else {
            searchButton.disabled = false;
        }
    });


    function navigateTo(action, comboId) {
        window.location.href = `/Admin/Combo/${action}?comboId=${comboId}`;
    }

    function deleteStaff(comboId) {
        if (confirm('Are you sure you want to delete this Combo?')) {
            navigateTo('Delete', comboId);
        }
    }
</script>
