@model IEnumerable<DoAn.Models.Scheduledetail>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string userRole = Context.Session.GetString("Role");
    bool isAdmin = userRole == "1";
}
>

<div class="wrapper-box" style="padding:7rem">
    <div class="toolBar-control">
         @if (Context.Session.GetString("Role") == "1")
        {
            <button class="btn-create" onclick="window.location.href='/Admin/ScheduleDetail/Create'">
                Create new
            </button>
        } else
        {
            <button onclick="showMessage();" title="This action is only available to admins" class="btn-create">
                Create new
            </button>
        }
        <div class="wrap-search">
            <div class="search-staff">
                <div class="box-search">
                    <input type="text" value="" name="" id="" placeholder="Search Schedule ... ">
                    <button class="btnSearch-staff">Search</button>
                </div>
            </div>
        </div>
        <div></div>
    </div>
    <div class="table-infoStaff">
        <table class="table-List">
            <tr class="title-infoList">
                <th>
                    Schehule
                </th>
                <th>
                    Staff
                </th>
                <th>Status</th>
                 @if (isAdmin)
                {
                    <th>Action</th>
                }
            </tr>
            <tbody class="box-tbody">
                @if (!string.IsNullOrEmpty(ViewBag.LoginMessage))
                {
                    <p style="color:red;text-align: center; font-size: 1.5rem;">@ViewBag.LoginMessage</p>
                } else
                {
                    foreach (var item in Model)
                    {
                        @if (item.Date > DateTime.Now)
                        {
                            <tr class="item-infoList">
                             
                                <td>
                                    @(item.Date?.ToString("dd/MM/yyyy")) - @item.Schedule.Time
                                </td>
                                <td>
                                    @item.Staff.Name
                                </td>
                                <td>
                                    @if (item.Status == true)
                                    {
                                        <p style="color: green">active</p>
                                    }
                                    else
                                    {
                                        <p style="color: red">none</p>
                                    }
                                </td>
                                <td>
                                    @if (isAdmin)
                                    {
                                        @Html.ActionLink("Send Mail", "SendmailOutDated", new { staffId = item.StaffId }, new { @class = "btn-add " })
                                        <button onclick="edit('@item.ScheduleId', '@item.StaffId')" class="btn-edit">Edit</button>
                                        <button onclick="deleteItem('@item.ScheduleId', '@item.StaffId')" class="btn-delete">Delete</button>
                                        @*@Html.ActionLink("Edit", "Edit", new { ScheduleId = item.ScheduleId, StaffId = item.StaffId }, new { @class = "btn_css " })
                                        @Html.ActionLink("Details", "Details", new { ScheduleId = item.ScheduleId, StaffId = item.StaffId  }, new { @class = "btn_css " })
                                        @Html.ActionLink("Delete", "Delete", new {ScheduleId = item.ScheduleId, StaffId = item.StaffId  }, new { @class = "btn_css " })*@
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <h1 style="text-align:center; margin:1rem 0">outDated</h1>
    <div class="table-infoStaff">
        <table class="table-List">
            <tr class="title-infoList">
                <th>
                    Schehule
                </th>
                <th>
                    Staff
                </th>
                <th>Status</th>
                @if (isAdmin)
                {
                    <th>Action</th>
                }
            </tr>
            <tbody class="box-tbody">
                @if (!string.IsNullOrEmpty(ViewBag.LoginMessage))
                {
                    <p style="color:red;text-align: center; font-size: 1.5rem;">@ViewBag.LoginMessage</p>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        @if(item.Date < DateTime.Now)
                        {
                            <tr class="item-infoList">
                                <td>
                                    @(item.Date?.ToString("dd/MM/yyyy")) -  @item.Schedule.Time
                                </td>
                                <td>
                                    @item.Staff.Name
                                </td>
                                <td>
                                    @if (item.Status == true)
                                    {
                                        <p style="color: green">active</p>
                                    }
                                    else
                                    {
                                        <p style="color: red">none</p>
                                    }
                                </td>
                                <td>
                                    @if (isAdmin)
                                    {
                                        @Html.ActionLink("Send Mail", "SendmailOutDated", new { staffId = item.StaffId }, new { @class = "btn-add" })
                                        <button onclick="edit('@item.ScheduleId', '@item.StaffId')" class="btn-edit">Edit</button>
                                        <button onclick="deleteItem('@item.ScheduleId', '@item.StaffId')" class="btn-delete">Delete</button>
                                       @* @Html.ActionLink("Edit", "Edit", new { ScheduleId = item.ScheduleId, StaffId = item.StaffId }, new { @class = "btn_css " })
                                        @Html.ActionLink("Details", "Details", new { ScheduleId = item.ScheduleId, StaffId = item.StaffId  }, new { @class = "btn_css " })
                                        @Html.ActionLink("Delete", "Delete", new {ScheduleId = item.ScheduleId, StaffId = item.StaffId  }, new { @class = "btn_css " })*@
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function showMessage() {
        alert("This action is only available to admins");
    }
    function edit(scheduleId, staffId) {
        window.location.href = '/Admin/ScheduleDetail/Edit?ScheduleId=' + scheduleId + '&StaffId=' + staffId;
    }

    function details(scheduleId, staffId) {
        window.location.href = '/Admin/ScheduleDetail/Details?ScheduleId=' + scheduleId + '&StaffId=' + staffId;
    }

    function deleteItem(scheduleId, staffId) {
        if (confirm('Are you sure you want to delete this item?')) {
            window.location.href = '/Admin/ScheduleDetail/Delete?ScheduleId=' + scheduleId + '&StaffId=' + staffId;
        }
    }
</script>
