@model DoAn.Models.Staff

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="wrapper-box" style="padding:7rem">
    <div class="table-infoStaff">
        <table class="table-List">
            <tr class="title-infoList">
                <th>Staff ID</th>
                <th>Name</th>
                <th>UserName</th>
                <th>Phone</th>
                <th>Avatar</th>
                <th>Email</th>
                <th>Address</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Created By</th>
                <th>Updated By</th>
                <th>Branch</th>
                <th>Role</th>
            </tr>
            <tbody class="box-tbody">
                <tr class="item-infoList">
                    <td>@Model.StaffId</td>
                    <td>@Model.Name</td>
                    <td>@Model.Username</td>
                    <td>@Model.Phone</td>
                    <td>
                        <img src="@Model.Avatar" alt="">
                    </td>
                    <td>@Model.Email</td>
                    <td>@Model.Address</td>
                    <td>
                        @if (Model.Status == true)
                        {
                            <p style="color: green">Active</p>
                        }
                        else
                        {
                            <p style="color: red">Non-Active</p>
                        }
                    </td>
                    <td>@Model.CreatedAt</td>
                    <td>@Model.UpdatedAt</td>
                    <td>@Model.CreatedBy</td>
                    <td>@Model.UpdatedBy</td>
                    <td>@Model.Branch.Address</td>
                    <td>@Model.Role.Name</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
