@model DoAn.Models.Staff

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper-ui" style="margin-top:3rem">
    <div class="wrapperUi-containerTitle">
        <div class="box-uiInfo">
            <div class="avatar-user">
                <div class="border-image" style="">
                    <img class="" src="@Model.Avatar"/>
                </div>
            </div>
            <div class="info-user">
                <p class="name">@Model.Name</p>
                <p class="staffId">@Model.StaffId</p>
            </div>
        </div>
    </div>

    <div class="box-container">
        <div class="wrapperUi-containerList">
            <div class="control-button">
                <Button class="btn-edit" onclick="window.location.href='/Admin/Staff/Index'">
                    Trở lại
                </Button>
            </div>

            <div class="list-detailItem">
                <div class="wrapper-box" style="display:flex; flex-wrap:wrap; gap:1.5rem">
                    <div style="flex:1 1 18rem" class="box">
                        <span>Created At: </span>
                        <input asp-for="CreatedAt" readonly type="email" class="userName" />
                    </div>
                    <div style="flex:1 1 18rem" class="box">
                        <span>Update At: </span>
                        <input asp-for="UpdatedAt" readonly type="email" class="userName" />
                    </div>
                    <div style="flex:1 1 18rem" class="box">
                        <span>Created By: </span>
                        <input asp-for="CreatedBy" readonly type="email" class="userName" />
                    </div>
                    <div style="flex:1 1 18rem" class="box">
                        <span>Updated By: </span>
                        <input asp-for="UpdatedBy" readonly type="email" class="userName" />
                    </div>
                </div>
                <hr />
                <form asp-action="Edit">
                    <input type="hidden" asp-for="StaffId" />
                    <div class="wrapper-box" style="display:flex; flex-wrap:wrap; gap:1.5rem">
                        <div style="flex:1 1 18rem" class="box">
                                <span><strong style="color:red">*</strong>name: </span>
                            <input asp-for="Name" type="text" class="userName" />
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                        <div style="flex:1 1 18rem" class="box">
                            <span> <strong style="color:red">*</strong> Role: </span>
                                @Html.DropDownList("RoleId", (SelectList)ViewBag.Roles, "Select a role", new { @class = "userName" })
                        </div>
                        <div style="flex:1 1 18rem" class="box">
                                <span><strong style="color:red">*</strong> Username: </span>
                            <input asp-for="Username" type="text" class="userName"  />
                            <span asp-validation-for="Username" class="text-danger"></span>

                        </div>
                        <div style="flex:1 1 18rem" class="box">
                                <span><strong style="color:red">*</strong>Phonenumber:</span>
                            <input asp-for="Phone" type="number" class="userName"  />
                            <span asp-validation-for="Phone" class="text-danger"></span>

                        </div>
                            <div hidden style="flex:1 1 18rem" class="box">
                                <span><strong style="color:red">*</strong>Avatar: </span>
                                <input asp-for="Avatar" type="text" class="userName" />
                            </div>

                        <div style="flex:1 1 18rem" class="box">
                                <span><strong style="color:red">*</strong>address: </span>
                            <input asp-for="Address" type="text" class="userName"  />
                        </div>
                        <div class="img-wrap" style="align-items:center">
                            <input type="file" name="fileUpload" id="fileUpload" hidden accept="image/*" style="display:none;" />
                            <input type="button" id="btnUpload" value="Chọn ảnh" class="btn btn-danger" />
                            <img style="width:44%" class="wrapper-img" hidden src="" id="pictureUpload" />
                        </div>

                        <div style="flex:1 1 18rem" class="box">
                            <span><strong style="color:red">*</strong> email: </span>
                            <input asp-for="Email" type="email" class="userName"  />
                        </div>
                    </div>
                    <div style="flex:1 1 18rem" class="box">
                        <span>* Status: </span>
                        <div class="radio-buttons">
                            <label class="form-check-label" style="color:green">
                                <input type="radio" asp-for="Status" value="true" /> Active
                            </label>
                            <label class="form-check-label" style="color:red">
                                <input type="radio" asp-for="Status" value="false" /> Non-Active
                            </label>
                            <span class="error-indicator"></span>
                        </div>
                    </div>
                    <div class="wrappercalendar-containerList">
                        <div class="container-timeClock">
                            <h4 style="font-size:3rem">Schedule</h4>
                            <ul>
                                @foreach (var schedule in Model.Scheduledetails)
                                {
                                    <li style="font-size:2rem">Date: @schedule.Date </li>
                                }
                                @foreach (var scheduleDetail in Model.Scheduledetails)
                                {
                                    <li style="font-size:2rem">Time: @scheduleDetail.Schedule.Time</li>
                                }
                            </ul>
                        </div>
                        <input type="submit" value="Save" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function navigateTo(action, staffId) {
            window.location.href = `/Admin/Staff/${action}?StaffId=${staffId}`;
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    @section upload
        {
        <script>
            $(function () {
                $('#btnUpload').click(function () {
                    $('#fileUpload').trigger('click');
                });
            });
            $('#fileUpload').change(function () {
                if (window.FormData !== undefined) {
                    var fileUpload = $('#fileUpload').get(0);
                    var files = fileUpload.files;
                    var formData = new FormData();
                    formData.append('file', files[0]);

                    $.ajax(
                        {
                            type: 'POST',
                            url: '@Url.Action("ProcessUpload", "Staff")',
                            contentType: false,
                            processData: false,
                            data: formData,
                            success: function (urlImage) {
                                $('#pictureUpload').attr('src', urlImage);
                                $('#Avatar').val(urlImage);
                            },
                            error: function (err) {
                                alert('Error ', err.statusText);
                            }
                        });
                }
            });
        </script>
    }<style>
         .border-image {
             width: 150px; 
             height: 150px; 
             text-align: center;
             display: flex;
             align-items: center;
             justify-content: center;
         }

             .border-image img {
                 max-width: 100%;
                 max-height: 100%; 
                 height: auto;
                 width: auto; 
             }
    </style>
