@model DoAn.Models.Staff

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper-ui">
    <div class="wrapperUi-containerTitle">
        <div class="box-uiInfo">
            <div class="avatar-user">
                <div class="border-image">
                    <img class="" src="@Model.Avatar" id="pictureUpload" />
                </div>
            </div>
            <div class="info-user">
                <p class="name">@Model.Name</p>
                <p class="staffId">@Model.StaffId</p>
            </div>
        </div>
    </div>

    <div class="box-container">
        <div class="wrapperUi-containerList">
            <div class="control-button">
                <Button class="btn-edit" onclick="window.location.href='/Admin/Staff/Index'">
                    Trở lại
                </Button>

                <Button class="btn-edit" onclick="navigateTo('Edit', StaffId)">
                    Edit Staff
                </Button>
            </div>

            <div class="list-detailItem">
                <div class="wrapper-box" style="display:flex; flex-wrap:wrap; gap:1.5rem">
                    <div style="flex:1 1 18rem" class="box">
                        <span>Created At: </span>
                        <input asp-for="CreatedAt" readonly type="email" class="userName" />
                    </div>
                    <div style="flex:1 1 18rem" class="box">
                        <span>Update At: </span>
                        <input asp-for="UpdatedAt" readonly type="email" class="userName" />
                    </div>
                    <div style="flex:1 1 18rem" class="box">
                        <span>Created By: </span>
                        <input asp-for="CreatedBy" readonly type="email" class="userName" />
                    </div>
                    <div style="flex:1 1 18rem" class="box">
                        <span>Updated By: </span>
                        <input asp-for="UpdatedBy" readonly type="email" class="userName" />
                    </div>
                </div>
                <form asp-action="Edit">
                    <input type="hidden" asp-for="StaffId" />
                    <div class="wrapper-box" style="display:flex; flex-wrap:wrap; gap:1.5rem">
                    <div style="flex:1 1 18rem" class="box">
                            <span><strong style="color:red">*</strong>name: </span>
                        <input asp-for="Name" type="text" class="userName" />
                    </div>
                    <div style="flex:1 1 18rem" class="box">
                        <span> <strong style="color:red">*</strong> Role: </span>
                            @Html.DropDownList("RoleId", (SelectList)ViewBag.Roles, "Select a role", new { @class = "userName" })
                    </div>
                    <div style="flex:1 1 18rem" class="box">
                            <span><strong style="color:red">*</strong> Username: </span>
                        <input asp-for="Username" type="text" class="userName"  />

                    </div>
                    <div style="flex:1 1 18rem" class="box">
                            <span><strong style="color:red">*</strong>Phonenumber:</span>
                        <input asp-for="Phone" type="number" class="userName"  />
                    </div>
                    @*Xử lí không cho người dùng nhập chữ vào số đt*@
                    @section scripts {
                        <script>
                            $(document).ready(function () {
                                $('#Phone').on('input', function () {
                                    var phoneValue = $(this).val();
                                    var numericValue = phoneValue.replace(/[^0-9]/g, '');
                                    $(this).val(numericValue);
                                });
                            });
                        </script>
                    }
                    <div style="flex:1 1 18rem" class="box">
                            <span><strong style="color:red">*</strong>address: </span>
                        <input asp-for="Address" type="text" class="userName"  />
                    </div>
                    <div style="flex:1 1 18rem" class="box">
                        <span><strong style="color:red">*</strong> email: </span>
                        <input asp-for="Email" type="email" class="userName"  />
                    </div>
                    <div style="flex:1 1 18rem" class="box">
                        <input type="file" name="fileUpload" id="fileUpload" accept="image/*" style="display:none;" />
                        <input type="button" id="btnUpload" value="Chọn ảnh" class="btn btn-danger" />
                    </div>
                    </div>
                    <div style="flex:1 1 18rem" class="box">
                        <span>* Status: </span>
                        <div class="radio-buttons">
                            <label class="form-check-label" style="color:green">
                                <input type="radio" asp-for="Status" value="true" /> Active
                            </label>
                            <label class="form-check-label" style="color:red">
                                <input type="radio" asp-for="Status" value="false" /> Non-Active
                            </label>
                            <span class="error-indicator"></span>
                        </div>
                    </div>
                    <div class="wrappercalendar-containerList">
                        <label for="select-title" class="select-title">Select a day:</label>
                        <div>
                            <select id="select-title" name="select-title">
                                <option value="">Ngày 28/8/2023</option>
                                <option value="">Ngày 29/8/2023</option>
                                <option value="">Ngày 30/8/2023</option>
                                <option value="">Ngày 31/8/2023</option>
                                <option value="">Ngày 01/09/2023</option>
                                <option value="">Ngày 02/09/2023</option>
                                <option value="">Ngày 03/09/2023</option>
                            </select>
                        </div>
                        <div class="container-timeClock">
                            <span>7:00</span>
                            <span>7:30</span>
                            <span>8:00</span>
                            <span>8:30</span>
                            <span>9:00</span>
                            <span>9:30</span>
                            <span>10:00</span>
                            <span>10:30</span>
                            <span>11:00</span>
                            <span>11:30</span>
                            <span>13:30</span>
                            <span>14:00</span>
                            <span>14:30</span>
                            <span>15:00</span>
                            <span>15:30</span>
                            <span>16:00</span>
                            <span>16:30</span>
                            <span>17:00</span>
                            <span>17:30</span>
                            <span>18:00</span>
                            <span>18:30</span>
                            <span>19:00</span>
                            <span>19:30</span>
                            <span>20:00</span>
                            <span>20:30</span>
                        </div>
                        <input type="submit" value="Save" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function navigateTo(action, staffId) {
            window.location.href = `/Admin/Staff/${action}?StaffId=${staffId}`;
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    @section upload
        {
        <script>
            $(function () {
                $('#btnUpload').click(function () {
                    $('#fileUpload').trigger('click');
                });
            });
            $('#fileUpload').change(function () {
                if (window.FormData !== undefined) {
                    var fileUpload = $('#fileUpload').get(0);
                    var files = fileUpload.files;
                    var formData = new FormData();
                    formData.append('file', files[0]);

                    $.ajax(
                        {
                            type: 'POST',
                            url: '@Url.Action("ProcessUpload", "Staff")',
                            contentType: false,
                            processData: false,
                            data: formData,
                            success: function (urlImage) {
                                $('#pictureUpload').attr('src', urlImage);
                                $('#Avatar').val(urlImage);
                            },
                            error: function (err) {
                                alert('Error ', err.statusText);
                            }
                        });
                }
            });
        </script>
    }

@*
<h1>Edit</h1>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StaffId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                <input asp-for="Avatar" class="form-control" />
                <span asp-validation-for="Avatar" class="text-danger"></span>
                <div class="img-wrap" style="align-items:center">
                    <input type="file" name="fileUpload" id="fileUpload" accept="image/*" style="display:none;" />
                    <input type="button" id="btnUpload" value="Chọn ảnh" class="btn btn-danger" />
                    <img class="wrapper-img" src="" id="pictureUpload" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Status</label>
                <div class="radio-buttons">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Status" class="form-check-input" value="true" /> Active
                    </label>
                    <label class="form-check-label">
                        <input type="radio" asp-for="Status" class="form-check-input" value="false" /> Non-Active
                    </label>
                    <span class="error-indicator"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="RoleId">Role:</label>
                @Html.DropDownList("RoleId", (SelectList)ViewBag.Roles, "Select a role", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="BranchId">Branch:</label>
                @Html.DropDownList("BranchId", (SelectList)ViewBag.Branches, "Select a branch", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

*@