@model IEnumerable<DoAn.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="wrapper-box" style="padding:7rem">
    <div class="toolBar-control">
    <button class="btn-create" onclick="window.location.href='/Admin/Staff/Register'">
        Create new
    </button>
    
        <div class="wrap-search">
            <div class="search-staff">
                <div class="box-search">
                    <input type="text" value="" name="" id="" placeholder="Search Employee ... ">
                    <button class="btnSearch-staff"> Search</button>
                </div>
            </div>
        </div>

        <div></div>
    </div>
    <div class="table-infoStaff">
        <table class="table-List">
            <tr class="title-infoList">
                <th>Staff ID</th>
                <th>Name</th>
                <th>UserName</th>
                <th>Phone</th>
                <th>Avatar</th>
                <th>Email</th>
                <th>Address</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Created By</th>
                <th>Updated By</th>
                <th>Branch</th>
                <th>Role</th>
                <th>Action</th>
            </tr>

            <tbody  class="box-tbody">
                @foreach (var item in Model)
                {
                    @if(item.IsDisabled == false)
                    {
                        <tr class="item-infoList">
                            <td>@item.StaffId</td>

                            <td>@item.Name</td>
                            <td>@item.Username</td>
                            <td>@item.Phone</td>
                            <td>
                                <img src="@item.Avatar" alt="">
                            </td>
                            <td>@item.Email</td>
                            <td>@item.Address</td>
                            <td>
                                @if (item.Status == true)
                                {
                                    <p style="color: green">Active</p>
                                }
                                else
                                {
                                    <p style="color: red">Non-Active</p>
                                }
                            </td>
                            <td>@item.CreatedAt</td>
                            <td>@item.UpdatedAt</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.UpdatedBy</td>
                            <td>@item.Branch.Address</td>
                            <td>@item.Role.Name</td>
                            <td>
                                <button class="button-38" role="button" onclick="navigateTo('Sendmail', @item.StaffId)">
                                    sendMail
                                </button>
                                <button class="btn-edit" onclick="navigateTo('Edit', @item.StaffId)">
                                    Edit
                                </button>

                                <button class="btn-delete" onclick="deleteStaff(@item.StaffId)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                    
                }
            </tbody>
        </table>   
    </div>
    <h1 style="text-align:center; margin:1rem 0">Employee Is Deleted</h1>
    <div class="table-infoStaff">
        <table class="table-List">
            <tr class="title-infoList">
                <th>Staff ID</th>
                <th>Name</th>
                <th>UserName</th>
                <th>Phone</th>
                <th>Avatar</th>
                <th>Email</th>
                <th>Address</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Created By</th>
                <th>Updated By</th>
                <th>Branch</th>
                <th>Role</th>
                <th>Action</th>
            </tr>

            <tbody class="box-tbody">
                @foreach (var item in Model)
                {
                    @if (item.IsDisabled == true)
                    {
                        <tr class="item-infoList">
                            <td>@item.StaffId</td>

                            <td>@item.Name</td>
                            <td>@item.Username</td>
                            <td>@item.Phone</td>
                            <td>
                                <img src="@item.Avatar" alt="">
                            </td>
                            <td>@item.Email</td>
                            <td>@item.Address</td>
                            <td>
                                @if (item.Status == true)
                                {
                                    <p style="color: green">Active</p>
                                }
                                else
                                {
                                    <p style="color: red">Non-Active</p>
                                }
                            </td>
                            <td>@item.CreatedAt</td>
                            <td>@item.UpdatedAt</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.UpdatedBy</td>
                            <td>@item.Branch.Address</td>
                            <td>@item.Role.Name</td>
                            <td>
                                <button class="btn-add" onclick="addStaff(@item.StaffId)">
                                    Add
                                </button>

                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function addStaff(staffId) {
        window.location.href = `/Admin/Staff/ReloadEmployee?staffId=${staffId}`;
    }
    function navigateTo(action, staffId) {
        window.location.href = `/Admin/Staff/${action}?StaffId=${staffId}`;
    }

    function deleteStaff(staffId) {
        if (confirm('Are you sure you want to delete this staff?')) {
            navigateTo('Delete', staffId);
        }
    }
</script>

<style>
    .button-38 {
        background-color: #FFFFFF;
        border: 0;
        border-radius: .5rem;
        box-sizing: border-box;
        color: #111827;
        font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.25rem;
        padding: .8rem 1rem;
        border-radius: 8px;
        text-align: center;
        text-decoration: none #D1D5DB solid;
        text-decoration-thickness: auto;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-38:hover {
        background-color: rgb(249,250,251);
    }

    .button-38:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    .button-38:focus-visible {
        box-shadow: none;
    }
</style>
    